
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read: if true;
      allow create: if isOwner(userId);
      // Allow users to update only their own username by checking that other sensitive fields are not changed.
      allow update: if isOwner(userId) && request.resource.data.email == resource.data.email && request.resource.data.registrationDate == resource.data.registrationDate;
      allow delete: if isOwner(userId);
    }

    match /questions/{questionId} {
      allow read: if true;
      // Allow list reads if querying by tags, by a list of document IDs (for profile page), or by user ID
      allow list: if request.query.keys().hasAny(['where', 'limit']) &&
                   (request.query.where[0].fieldPath == 'tags' || request.query.where[0].fieldPath == '__name__' || request.query.where[0].fieldPath == 'userId');
      allow create: if isSignedIn() &&
        request.resource.data.userId == request.auth.uid;
      // Allow update if user is the owner and is only changing title or description
      allow update: if isOwner(resource.data.userId) &&
                     request.resource.data.keys().hasAll(['title', 'description']) &&
                     request.resource.data.title is string &&
                     request.resource.data.description is string;
      allow delete: if isOwner(resource.data.userId);
    }

    match /answers/{answerId} {
      allow read: if true;
      allow list: if request.query.where.size() > 0 && 
                   (request.query.where[0].fieldPath == 'questionId' || 
                    request.query.where[0].fieldPath == 'userId');

      allow create: if isSignedIn() &&
        request.resource.data.userId == request.auth.uid;

      // Allow users to update vote counts OR content if they are the owner
      allow update: if isSignedIn() && (
        (request.resource.data.keys().hasAny(['upvotes', 'downvotes']) && !request.resource.data.keys().hasAny(['content'])) ||
        (isOwner(resource.data.userId) && request.resource.data.keys().hasOnly(['content']))
      );

      allow delete: if isOwner(resource.data.userId);
    }
  }
}
