
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read: if true;
      allow create: if isOwner(userId);
      // Allow users to update only their own username by checking that other sensitive fields are not changed.
      allow update: if isOwner(userId) && request.resource.data.email == resource.data.email && request.resource.data.registrationDate == resource.data.registrationDate;
      allow delete: if isOwner(userId);
    }

    match /questions/{questionId} {
      allow read: if true;
      // Allow list reads if querying by tags, by a list of document IDs (for profile page), or by user ID
      allow list: if request.query.keys().hasAny(['where', 'limit']) &&
                   (request.query.where[0].fieldPath == 'tags' || request.query.where[0].fieldPath == '__name__' || request.query.where[0].fieldPath == 'userId');
      allow create: if isSignedIn() &&
        request.resource.data.userId == request.auth.uid;
      allow update, delete: if isSignedIn() &&
        resource.data.userId == request.auth.uid;
    }

    match /answers/{answerId} {
      allow read: if true;
      allow list: if request.query.where.size() > 0 && 
                   (request.query.where[0].fieldPath == 'questionId' || 
                    request.query.where[0].fieldPath == 'userId');

      allow create: if isSignedIn() &&
        request.resource.data.userId == request.auth.uid;

      // Allow users to update only the vote counts, and no other fields.
      allow update: if isSignedIn() && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['upvotes', 'downvotes']);

      allow delete: if isSignedIn() &&
        resource.data.userId == request.auth.uid;
    }
  }
}
